.content {
    @include bgPicture("http://rusinn.com/assets/image/2016/04/157f5e93aa8994.jpg", fixed);
    background-size: cover;
}

.overlay{
    background: $overlay-color;
    height: $c-bg_image_height;
}

.content-greeting {
    color: $snow-white-color;
    &--align{
        padding-top: 20%;
    }
}

.text-centered-uppercase {
    text-transform: uppercase;
    text-align: center;
}