.logo {
    display: block;
    padding: 10px;
    &--centered {
        width: $c-logo_size;
        margin: 0 auto;
    }
    &--img {
        max-width: $c-logo_size;
        max-height: $c-logo_height;
    }
}

.button {
    padding: $c-btn-pad;
    border: $c-btn-border;
    border-radius: $c-btn-radius;
    background-color: $snow-white-color;
    font-size: $c-btn-font-size;
    width: $c-btn-size;
    &--align{
        margin: 2% auto;
    }
}

// .button_view_action {
//     padding: 6px 10px;
//     border: 0px;
//     border-radius: 6px;
//     background-color: #fd5;
//     font-size: 14px;
// }