// colors
$header-color: #0F2648;
$snow-white-color: #fff;
$brd-color: #fd5;
$hz-color: #FE0000;
$overlay-color: rgba(180,0,10,0.7);

//const
$c-logo_size: 200px;
$c-logo_height: 80px;
$c-bg_image_height: 700px;
$c-btn-size: 150px;
$c-btn-pad: 10px;
$c-btn-border: 2px solid $brd-color;
$c-btn-radius: 9px;
$c-btn-font-size: 18px;